@font-face {
  font-family: "Manrope-Bold";
  src: url("/fonts/Manrope/Manrope-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Manrope-ExtraBold";
  src: url("/fonts/Manrope/Manrope-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "Manrope-ExtraLight";
  src: url("/fonts/Manrope/Manrope-ExtraLight.ttf") format("truetype");
}
@font-face {
  font-family: "Manrope-Light";
  src: url("/fonts/Manrope/Manrope-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Manrope-Medium";
  src: url("/fonts/Manrope/Manrope-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Manrope-Regular";
  src: url("/fonts/Manrope/Manrope-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Manrope-SemiBold";
  src: url("/fonts/Manrope/Manrope-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "SpaceGrotesk-Bold";
  src: url("/fonts/Space_Grotesk/SpaceGrotesk-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "SpaceGrotesk-Light";
  src: url("/fonts/Space_Grotesk/SpaceGrotesk-Light.ttf") format("truetype");
}
@font-face {
  font-family: "SpaceGrotesk-Medium";
  src: url("/fonts/Space_Grotesk/SpaceGrotesk-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "SpaceGrotesk-Regular";
  src: url("/fonts/Space_Grotesk/SpaceGrotesk-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "SpaceGrotesk-SemiBold";
  src: url("/fonts/Space_Grotesk/SpaceGrotesk-SemiBold.ttf") format("truetype");
}
