@use "./variables" as *;
@use "./mixins" as *;

header {
  position: relative;
  max-width: 1024px;
  width: 100%;
  margin: auto;
  padding: 4rem 1rem 0rem;
  nav {
    position: relative;
    z-index: 2;
    ._navbar_wrapper {
      position: relative;
      width: 100%;
      @include flexboxB(space-between, center, row);
      ._socials {
        position: relative;
        ._social {
          position: relative;
          @include flexboxA(flex-start, flex-start, row);
          list-style: none;
          margin: 0;
          gap: 24px;
          .platform {
            // font-size: clamp(2.5rem, 6vw, 10rem);
            display: block;
            transition: 0.7s ease-in-out;
            padding: 8px;
            &:hover {
              transform: translateY(-8px);
            }
          }
        }
      }
    }
  }
}
