@mixin flexboxA($value1, $value2, $value3) {
  display: flex;
  justify-content: $value1;
  align-items: $value2;
  flex-wrap: wrap;
  flex-direction: $value3;
}

@mixin flexboxB($value1, $value2, $value3) {
  display: flex;
  justify-content: $value1;
  align-items: $value2;
  flex-wrap: nowrap;
  flex-direction: $value3;
}
