@import "fonts";
//fonts
$Manrope-Bold: "Manrope-Bold";
$Manrope-ExtraBold: "Manrope-ExtraBold";
$Manrope-ExtraLight: "Manrope-ExtraLight";
$Manrope-Light: "Manrope-Light";
$Manrope-Medium: "Manrope-Medium";
$Manrope-Regular: "Manrope-Regular";
$Manrope-SemiBold: "Manrope-SemiBold";

$SpaceGrotesk-Bold: "SpaceGrotesk-Bold";
$SpaceGrotesk-Light: "SpaceGrotesk-Light";
$SpaceGrotesk-Medium: "SpaceGrotesk-Medium";
$SpaceGrotesk-Regular: "SpaceGrotesk-Regular";
$SpaceGrotesk-SemiBold: "SpaceGrotesk-SemiBold";

//fonts
$primary: #f6f6f6;
$secondary: #cae2fe;
$third: #6caeea;
$base_bg: rgb(4, 9, 27);
$black: #000;
$white: #fff;
$border: #cae2fe40;
$subtitle: rgb(182, 188, 206);
$_ftext: rgb(202 226 254 / 37%);
