@import "fonts";
//fonts
$Manrope-Bold: "Manrope-Bold";
$Manrope-ExtraBold: "Manrope-ExtraBold";
$Manrope-ExtraLight: "Manrope-ExtraLight";
$Manrope-Light: "Manrope-Light";
$Manrope-Medium: "Manrope-Medium";
$Manrope-Regular: "Manrope-Regular";
$Manrope-SemiBold: "Manrope-SemiBold";

$SpaceGrotesk-Bold: "SpaceGrotesk-Bold";
$SpaceGrotesk-Light: "SpaceGrotesk-Light";
$SpaceGrotesk-Medium: "SpaceGrotesk-Medium";
$SpaceGrotesk-Regular: "SpaceGrotesk-Regular";
$SpaceGrotesk-SemiBold: "SpaceGrotesk-SemiBold";

//fonts
$primary: #97c30a;
$secondary: #343a40;
$base_bg: #181818;
$black: #000;
$white: #fff;
$support: #141414;
$menu_txt: #fff;
$home_bg: linear-gradient(
  to top,
  #001bdd,
  #0035c9,
  #003dae,
  #00408e,
  #003f6d,
  #004a70,
  #005571,
  #005e6f,
  #007c7d,
  #009872,
  #3ab150,
  #97c30a
);
